


<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="font-family: 'Rye', cursive; font-size: 30px; color: crimson;">Our Product Gallery</h1>
      
     
      
    </div>
  </div> -->





  <div class="container text-center mt-5 mb-4">
    <h4 style="font-family: 'Bree Serif', serif;">
      <strong>Our Product Gallery</strong>
    </h4>
  </div>

<ul class="nav nav-pills mb-3 justify-content-around" id="pills-tab" role="tablist">
    <li class="nav-item ">
      <a class="nav-link active  bg-dark" style="color: white;" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All-Type-BarBells</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link bg-dark" style="color: white;" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">All-type-Dumbells</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link bg-dark" style="color: white;" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">All-type-Weights</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><!-- Modal gallery -->
        
      <div class="row photos" style="padding: 20px;">
        <div class="col-sm-6 col-md-4 col-lg-3 item" id="parent">
          <a href="assets/Ctstrength/barbell 1.jpeg" data-lightbox="photos" >
            <a class="middle"></a>
            
            <img class="img-fluid" src="assets/Ctstrength/barbell 1.jpeg" style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
            <div id="data" class="d-flex justify-content-start">
              <h6 id="name" style="font-size: 25px;">Olympic Barbell</h6>
            
        </div>
      </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" id="parent">
          <a href="assets/Ctstrength/bar.jpg" data-lightbox="photos">
          <img class="img-fluid" src="assets/Ctstrength/bar.jpg" style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
          <h6 id="name">Olympic Barbell</h6>
           
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" id="parent">
          <a href="assets/Ctstrength/barbell1 copy.png" data-lightbox="photos">
          <img class="img-fluid" src="assets/Ctstrength/barbell1 copy.png" style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
          <h6 id="name">Olympic Barbell</h6>
       
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item">
          <a href="../../assets/bar4.jpeg" data-lightbox="photos">
          <img class="img-fluid" src="../../assets/bar4.jpeg" style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
          <h6 id="name">Olympic Barbell</h6>
         
        </div></div></div>

 
    
    </div>





        <!---------------------------------------------- dumbelss --------------------------------------->





    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="row photos" style="padding: 20px;">
        <div class="col-sm-6 col-md-4 col-lg-3 item" ><a  href="assets/Ctstrength/dumbell10kg.png" data-lightbox="photos"><img class="img-fluid" src="assets/Ctstrength/dumbell10kg.png"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
         
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/Ctstrength/50kgpng.png" data-lightbox="photos"><img class="img-fluid" src="assets/Ctstrength/50kgpng.png"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
            
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://5.imimg.com/data5/SELLER/Default/2020/12/DN/SZ/VV/19211426/25-lbs-steel-dumbbell-500x500.jpg" data-lightbox="photos"><img class="img-fluid" src="https://5.imimg.com/data5/SELLER/Default/2020/12/DN/SZ/VV/19211426/25-lbs-steel-dumbbell-500x500.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
           
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://5.imimg.com/data5/SELLER/Default/2020/12/RD/YU/HS/19211426/30-kg-revolving-steel-dumbbell-500x500.jpg" data-lightbox="photos"><img class="img-fluid" src="https://5.imimg.com/data5/SELLER/Default/2020/12/RD/YU/HS/19211426/30-kg-revolving-steel-dumbbell-500x500.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
           
        </div>
      </div>
    </div>
      <div class="row photos" style="padding: 20px;">
        <div class="col-sm-6 col-md-4 col-lg-3 item" ><a  href="https://5.imimg.com/data5/SELLER/Default/2020/12/VW/VL/JT/19211426/17-5-kg-steel-dumbbell-500x500.jpg" data-lightbox="photos"><img class="img-fluid" src="https://5.imimg.com/data5/SELLER/Default/2020/12/VW/VL/JT/19211426/17-5-kg-steel-dumbbell-500x500.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
            
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://5.imimg.com/data5/SELLER/Default/2020/12/LP/FK/YE/19211426/3-bolt-multi-plate-dumbbell-500x500.jpg" data-lightbox="photos"><img class="img-fluid" src="https://5.imimg.com/data5/SELLER/Default/2020/12/LP/FK/YE/19211426/3-bolt-multi-plate-dumbbell-500x500.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
            
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://5.imimg.com/data5/SELLER/Default/2020/12/SR/BY/YS/19211426/12-5-kg-steel-plated-dumbbell-500x500.jpg" data-lightbox="photos"><img class="img-fluid" src="https://5.imimg.com/data5/SELLER/Default/2020/12/SR/BY/YS/19211426/12-5-kg-steel-plated-dumbbell-500x500.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
            
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://sideaita.net/wp-content/uploads/2018/08/8720.jpg" data-lightbox="photos"><img class="img-fluid" src="https://sideaita.net/wp-content/uploads/2018/08/8720.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CTStrength Dumbbells</h6>
            
        </div></div>
        
       
      </div>
        </div>
         
      
   

<!-- ---------------------Dumbells second row ended ------------------------------>


      <!-- --------------------------weights --------------------->
    
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><section class="">
      <div class="row photos" style="padding: 20px;">
        <div class="col-sm-6 col-md-4 col-lg-3 item" ><a  href="https://th.bing.com/th/id/OIP.sjkWxsH19b2kWRBrsmROBwHaHZ?pid=ImgDet&rs=1" data-lightbox="photos"><img class="img-fluid" src="../../assets/removed3.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CT Strength Weights</h6>
           
        </div></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../../assets/removed1.jpg" data-lightbox="photos"><img class="img-fluid" src="../../assets/removed1.jpg"  style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CT Strength Weights</h6>
            
        </div></div>
      
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../../assets/removed2.jpg" data-lightbox="photos"><img class="img-fluid" src="../../assets/removed2.jpg" style="border: 6px solid rgb(29, 29, 29); border-radius: 40px;"></a>
        <div id="data" class="d-flex justify-content-start">
            <h6 >CT Strength Weights</h6>
          
        </div></div>
        
       
      </div>
      
     <!-- 1st row ended -->
    
        </section></div>

        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify" style="color: rgb(221, 219, 216); font-family: 'Quantico', sans-serif;">Manufacturers of Quality Steel Revolving Dumbbells, Revolving Barbells, Standard dumbbells, Weight Plates, Olympic Barbells
                  & Customized Weight stacks .</p>
              </div>
        
              <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a [routerLink]="['/shop']" style="color: rgb(221, 219, 216);">Barbells</a></li>
            <li><a [routerLink]="['/dumbell']" style="color: rgb(221, 219, 216);">Dumbbells</a></li>
            <li><a [routerLink]="['/weight']"   style="color: rgb(221, 219, 216);">Weights</a></li>
                
                </ul>
              </div>
        
              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a [routerLink]="['/about']"  style="color: rgb(221, 219, 216);">About Us</a></li>
                  <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active"  style="color: rgb(221, 219, 216);">Contact Us</a></li>
                  <li><a [routerLink]="['/gallery']" routerLinkActive="router-link-active"  style="color: rgb(221, 219, 216);">Our Gallery</a></li>
                  
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12" id="footerall" style="display: flex;">
                <p class="copyright-text"><img id="footct" src="assets/Fl.png"></p>
                <a id="ct">CTSTRENGTH INDIA</a>
              </div>
        
              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="facebook" href="https://www.facebook.com/CTstrengthIndia/"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a class="twitter" href="https://wa.me/919881728752"><i class="fab fa-whatsapp"></i></a></li>
                  <li><a class="dribbble" href="https://instagram.com/ctstrengthindia?utm_medium=copy_link"><i class="fab fa-instagram"></i></a></li>
                   
                </ul>
              </div>
            </div>
          </div>
        </footer>
        
        

  
       

  